---
---
{{ reference }}

<div class="btn-group">
  {% if entry.url %}
		<a class="btn" href="{{entry.url}}">
			<i class="fa fa-newspaper"></i>
			paper
		</a>
	{% endif %}
  {% if entry.arxivid %}
    <a class="btn" href="https://arxiv.org/abs/{{entry.arxivid}}">
      <i class="ai ai-arxiv"></i>
      arXiv
    </a>
  {% endif %}
  {% if entry.code %}
    <a class="btn" href="{{entry.code}}">
      <i class="fab fa-fw fa-github"></i>
      code
    </a>
  {% endif %}
</div>
<div class="btn-group">
  {% if entry.talk %}
    <a class="btn" href="{{entry.talk}}">
    	<i class="fa fa-video"></i>
    	talk
    </a>
  {% endif %}
  {% if entry.slides %}
    <a class="btn" href="/pdfs/{{key}}_slides.pdf">
    	<i class="fa fa-tv"></i>
    	slides
    </a>
  {% endif %}
  {% if entry.poster %}
    <a class="btn" href="/pdfs/{{key}}_poster.pdf">
    	<i class="fa fa-image"></i>
    	poster
    </a>
  {% endif %}
</div>
  {% if entry.documentation %}
    {{entry.documentation}}
  {% endif %}
  {% if entry.travis %}
    {{entry.travis}}
  {% endif %}
  {% if entry.coveralls %}
    {{entry.coveralls}}
  {% endif %}
  {% if entry.pypi %}
    {{entry.pypi}}
  {% endif %}